.ListContainer {
  display: flex;
  padding: 0.875em 20%;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  width: 100%;
}
.ListContainer-Details {
  border: 0.7px solid #969696;
  border-radius: 5px;
  width: 100%;
  padding: 9px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.AñadirPaciente-container {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.AñadirPaciente-button {
  margin: 0 auto;
}

@media screen and (max-width: 1500px) {
  .ListContainer {
    padding: 0.875em 14%;
  }
}
