.Form-Container {
  padding: 0.875em 7%;
}

button {
  outline: none !important;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.select-options-container {
  display: flex;
  flex-wrap: wrap;
}
